doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Nea Candles
    link(rel='stylesheet', href='public/css/style.css')
  body
    header
      .container
        .row.flex-row-start
          h1
            a(href='index.html') 
              img(src="public/images/logo.png", alt="logo")
          a.icon-menu(href="#") Menu
          nav
            ul
              li
                  a(href='about-us.html') 關於我們
              li
                  a(href='#') 最新消息
              li
                  a(href='#') 商品介紹
              li
                  a(href='contact-us.html') 聯絡我們
                  ul.submenu
                    li
                      a(href="web-design-list.html") 聯絡表單
                    li
                      a(href="web-design-list.html") 門市資訊
    // header end
    img.img-fluid(src='public/images/index/bp01.jpg', alt='')
    // content start
    .container
        h2.text-center 最新消息
        .row
          .col-12.col-md-6 
            img.img-fluid.img-rounded(src='https://placekitten.com/300/200', alt='')
          .col-12.col-md-6 預告!即將推出日式鹽浴香氛蠟燭~

    // footer>.container>.row>dl.col-md-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
    footer
      .container
        .row.sapce-between
          nav
            ul
              li
                a(href='#')
                img.img-fluid.img-rounded(src='public/images/social-media/facebook.svg', alt='fb') 
              li
               a(href='#')
               img.img-fluid.img-rounded(src='public/images/social-media/instagram.svg', alt='ig')
              li
               a(href='#')
               img.img-fluid.img-rounded(src='public/images/social-media/line.svg', alt='line')    
        p.copyright.text-center © 2022 Nea Candles. All Rights Reserved.
