doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Linnea's Portfolio
    link(rel='stylesheet', href='public/css/style.css')
  body
    header
      .container
        .row.flex-space-between
          h1
            a(href='index.html') Nea Candles
          a.icon-menu(href="#") Menu
          nav
            ul
              li
                  a(href='about-us.html') 關於我們
              li
                  a(href='#') 最新消息
                  ul.submenu
                    li
                      a(href="design-list.html") 優惠活動
              li
                  a(href='#') 商品介紹
              li
                  a(href='contact-us.html') 聯絡我們
                  ul.submenu
                    li
                      a(href="web-design-list.html") 聯絡表單
                    li
                      a(href="web-design-list.html") 門市資訊
    // header end
    img.img-fluid(src='https://placekitten.com/1920/480', alt='')
    // content start
    // .container>h1{最新作品一覽}+.row
    .container
        h2.fz-3.mb-3.text-center 最新作品一覽
        .row
            .col-6.col-md-4.col-lg-3
                a(href='#')
                    img.img-fluid.img-rounded(src='https://placekitten.com/300/200', alt='')
                p.title.text-center
                    a(href='#') 作品標題
                p.date.text-center 2022-6-15
            .col-6.col-md-4.col-lg-3
                a(href='#')
                    img.img-fluid.img-rounded(src='https://placekitten.com/300/200', alt='')
                p.title.text-center
                    a(href='#') 作品標題
                p.date.text-center 2022-6-15
            .col-6.col-md-4.col-lg-3
                a(href='#')
                    img.img-fluid.img-rounded(src='https://placekitten.com/300/200', alt='')
                p.title.text-center
                    a(href='#') 作品標題
                p.date.text-center 2022-6-15
            .col-6.col-md-4.col-lg-3
                a(href='#')
                    img.img-fluid.img-rounded(src='https://placekitten.com/300/200', alt='')
                p.title.text-center
                    a(href='#') 作品標題
                p.date.text-center 2022-6-15
            .col-6.col-md-4.col-lg-3
                a(href='#')
                    img.img-fluid.img-rounded(src='https://placekitten.com/300/200', alt='')
                p.title.text-center
                    a(href='#') 作品標題
                p.date.text-center 2022-6-15
            .col-6.col-md-4.col-lg-3
                a(href='#')
                    img.img-fluid.img-rounded(src='https://placekitten.com/300/200', alt='')
                p.title.text-center
                    a(href='#') 作品標題
                p.date.text-center 2022-6-15
    // content end
    // footer>.container>.row>dl.col-md-3*5>dt{標題$$}+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
    footer
      .container
        .row
          dl.col-12.col-md-3
            dt 標題
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-12.col-md-3
            dt 標題
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-12.col-md-3
            dt 標題
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
          dl.col-12.col-md-3
            dt 標題
            dd
              a(href='#') 項目01
            dd
              a(href='#') 項目02
            dd
              a(href='#') 項目03
            dd
              a(href='#') 項目04
            
        p.copyright.text-center 本站僅供學習使用，不用於商業用途。
